.character-node {
    position: relative;
    padding: 5px;
  }
  
  .character-node {
    background-color: #fff;
    padding: 5px;
    color: #000000;
    font-family: 'Book Antiqua', serif;
  }

  .charlemagne-army {
    border: 2px solid blue; /* Change border color for Charlemagne's Army */
  }
  
  .agramante-army {
    border: 2px solid green; /* Change border color for Agramante's Army */
  }
